.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;

  @media screen and (max-width: 450px) {
    width: 100vw;
    height: 100%;
  }


  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    height: 100%;
    padding: 0 40px;

    @media screen and (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      padding: 0 30px;
    }

    .description {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 12px 12px 0px 0px #afa576;
      background-color: #ded196;
      height: 100%;
      max-width: 35%;
      font-family: Overpass, sans-serif;
      text-align: center;
      position: relative;

      @media screen and (max-width: 1000px) {
        max-width: 100%;
      }

      .snacks {
        position: absolute;
        left: 0;
        bottom: -3%;
        width: 150px;

        @media screen and (max-width: 1000px) {
          display: none;
        }

      }


      h3 {
        color: #39507b;
        text-transform: uppercase;
        padding: 5px 20px;
      }

      p {
        padding: 5px 20px;
      }
    }

    .showcase {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      max-width: 40%;

      @media screen and (max-width: 1000px) {
        max-width: 50%;
      }

      @media screen and (max-width: 750px) {
        max-width: 65%;
      }

      @media screen and (max-width: 550px) {
        max-width: 90%;
      }


      .row {
        display: flex;
        gap: 30px;

        .item {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

