.team-container {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 450px) {
    width: 100vw;
    height: 100%;
  }

  .wrapper {

    @media screen and (max-width: 1100px) {
      padding: 0 75px;
    }

    @media screen and (max-width: 750px) {
      padding: 0 30px;
    }


    .team-members {

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;

      @media screen and (max-width: 750px) {
        grid-gap: 20px;
      }

      @media screen and (max-width: 450px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "first second"
                             "third third";
        grid-gap: 30px;
      }

      .first {
        grid-area: first;
      }

      .second {
        grid-area: second;
      }

      .third {
        grid-area: third;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .member {
        max-width: 225px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        &:last-child {
          max-width: 46%;
          @media screen and (max-width: 450px) {
            margin: 0 auto;
            grid-row: span;
          }
        }

        img {
          width: 100%;

        }

      }
    }

  }


}
