.faq-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {

    img {
      width: 100%;
    }

    .questions-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

  }




}
