.sneakpeaks-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  @media screen and (max-width: 450px) {
    width: 100vw;
    height: 100%;
  }


  .wrapper {

    padding: 0 50px;
    max-width: 80%;


    @media screen and (max-width: 450px) {
      padding: 0 15px;
    }

    .images-wrapper {
      background-color: #bbcdcf;
      border: 15px solid #8c848c;
      padding: 35px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;


      @media screen and (max-width: 800px) {
        grid-template-columns: repeat(2, auto);
        grid-gap: 15px;
      }

      @media screen and (max-width: 450px) {
        grid-template-columns: repeat(2, 1fr);
        background: none;
        border: none;
        padding: 0;
      }


      .item {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          @media screen and (max-width: 450px) {
            box-shadow: 12px 12px 0px 0px #8c848c;
            width: 100%;
          }

          @media screen and (max-width: 800px) {
            width: 70%;
          }

        }
      }
    }
  }
}

