.container {
  //width: 100%;
  height: 100vh;
}

.scroll-navigation {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

  .scroll-wrapper {
    display: inline-flex;
    height: 100%;
    position: absolute;
    will-change: transform;
  }
}

