.container {
  width: 100vw;
  height: 100vh;

  .loading-container {
    width: 100vw;
    height: 100vh;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Fipps", sans-serif;

    @media screen and (max-width: 570px) {
      padding: 0 10px;
    }

    .img-container {

      width: 180px;

      @media screen and (max-width: 1000px) {
        width: 160px;
      }

      @media screen and (max-width: 570px) {
        width: 140px;
      }

      img {
        width: 100%;
      }
    }

    .heading-container {
      gap: 20px;
      display: flex;
      font-size: 36px;
      color: #69371A;

      @media screen and (max-width: 1000px) {
        font-size: 24px;
      }

      @media screen and (max-width: 570px) {
        font-size: 16px;
        gap: 10px;
      }

      .loading-dots {
        display: flex;
        gap: 20px;
        width: 100px;

        @media screen and (max-width: 570px) {
          width: 50px;
        }

        @media screen and (max-width: 1000px) {
          gap: 10px;
        }
      }
    }
  }

  .home-container {
    width: 100vw;
    height: 100vh;
    background: url("./assets /images/bg-home.png") center/cover no-repeat;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    .burger {
      display: inline-block;
      color: #FFFAFA;
      opacity: 0;
      margin: 0;
      width: 70px;
      padding: 0;
      animation: fall 3s linear infinite;

      img {
        width: 100%;
      }
    }

    @keyframes fall {
      0% {
        opacity: 0;
      }
      3% {
        opacity: 0.9;
      }

      90% {
        opacity: 0.9;
      }
      100% {
        transform: translate(0, 97vh);
        opacity: 0;
      }
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .title {
        margin-bottom: 30px;
        max-width: 700px;

        img {
          width: 100%;
        }
      }

      .social-medias {
        display: flex;
        gap: 30px;

        .icon {
          width: 60px;
          cursor: pointer;

          img {
            width: 100%;
          }
        }
      }
    }

    .left-side, .right-side {
      display: flex;
      padding: 0 70px;
    }

  }

  .about-container {
    width: 100vw;
    height: 100vh;
    background: url("./assets /images/bg-home.png") center/cover no-repeat;

    .wrapper {
      padding: 150px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 50px;

      .information {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Fipps", sans-serif;
        color: #69371A;
      }

      .about-slider {

        .slider-container {
          position: relative;
          .slider {
            width: 100%;
            position: absolute;
            bottom: 30px;


            .slider-item {
              display: flex;
              justify-content: center !important;
              align-items: center;

              img {
                margin: 0 auto;
                width: 40%;
              }
            }
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }

}

