@font-face {
    font-family: 'Fipps';
    src: local('Fipps'), url(./fonts/Fipps.otf) format('woff');
}

@font-face {
    font-family: '3Dventure';
    src: local('Fipps'), url(./fonts/3Dventure.ttf) format('woff');
}

@font-face {
    font-family: 'Overpass';
    src: local('Overpass'), url(./fonts/Overpass.ttf) format('woff');
}



html,
div,
span,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
article,
aside,
footer,
header,
section {
    margin: 0;
    padding: 0;
}
